@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Demos</h2>

        @Html.ActionLink("Problem z Lazy Loading", "LazyLoading", "Categories", null, new { target = "_blank" })
        @Html.ActionLink("Rozwiązanie problemu z Lazy Loading", "EarlyLoading", "Categories", null, new { target = "_blank" })
        @Html.ActionLink("Problem z brakiem stronicowania", "Index", "Products", null, new { target = "_blank" })
        @Html.ActionLink("Rozwiązanie problemu z brakiem stronicowania", "IndexWithPagination", "Products", null, new { target = "_blank" })
        @*@Html.ActionLink("Problemu z wieloma DataContext w żądaniu HTTP", "TwoDataContext", "Products", null, new { target = "_blank" })*@
    </div>
</div>

@section styles
{
    <style>
        a {
            display: table;
        }
    </style>
}
